.app-fill-height {
  height: 100% !important;
}

.app-fill-width {
  width: 100% !important;
}

.app-flex {
  display: flex;
}

.app-row {
  flex-direction: row;
}

.app-wrap {
  flex-wrap: wrap;
}

.app-nowrap {
  flex-wrap: nowrap;
}

.app-column {
  flex-direction: column;
}

.app-grow {
  flex: 1 0 auto;
}

.app-shrink {
  flex: 0 1 auto;
}

.app-both-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-h-center {
  display: flex;
  justify-content: center;
}

.app-v-center {
  display: flex;
  align-items: center;
}
