.fill-height {
  height: 100% !important;
}

.fill-width {
  width: 100% !important;
}

.app-flex {
  display: flex;
}

.app-row {
  flex-direction: row;
}

.app-column {
  flex-direction: column;
}

.app-grow {
  flex: 1 0 auto;
}

.app-shrink {
  flex: 0 1 auto;
}

.both-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-center {
  display: flex;
  justify-content: center;
}

.v-center {
  display: flex;
  align-items: center;
}
