@import './vuetify.override.scss';
@import './swiper.override.scss';
@import './typo.scss';
@import './util.scss';
@import './spacing.scss';
@import './layout.scss';
@import '~quill/dist/quill.snow.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.core.css';

$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';
@import '~material-design-icons-iconfont/src/material-design-icons';

html,
body {
  width: 100%;
  margin: 0px;
  box-sizing: border-box;
}

* {
  letter-spacing: 0.1rem !important;
}

.class-selection-box .v-text-field {
  padding-top: 0px;
}

.student-list-wrapper .v-list {
  background: #f5f5f5 !important;
}

.grade-input-edit-rating.v-rating i {
  font-size: 36px !important;
}

td,
th {
  padding: 0 12px !important;
}

.teacher-helper {
  position: fixed !important;
  right: 1rem !important;
  bottom: 5rem !important;
  z-index: 5000 !important;
}

.grade-level-select .v-input__control {
  width: 150px !important;
}

.student-list-wrapper .v-list__tile {
  padding: 0 10px;
}

// main {
//   padding: 48px 0px 56px 0px !important;
// }
