.v-item-group.v-bottom-nav .v-btn--active .v-btn__content {
  font-size: 12px !important;
}

table.v-table td {
  height: unset !important;
  padding: 12px 12px !important;
}

table.v-table tbody td:first-child {
  height: unset !important;
  padding: 12px 12px !important;
}

.v-carousel__controls {
  background: transparent;
  height: unset !important;
}

.v-item-group.v-bottom-nav .v-btn {
  padding-top: 6px !important;
}

.batch-switch.v-input--switch .v-input__slot {
  margin: 0px !important;
}

.batch-switch {
  display: flex;
  justify-content: center;
}

.grade-input-edit-batch-selection.v-input--selection-controls:not(.v-input--hide-details)
  .v-input__slot {
  margin-bottom: 6px !important;
}

.teacher-helper .v-btn--floating .v-btn__content {
  flex: 1 1 auto !important;
  margin: 0 !important;
  height: 100% !important;
  width: 100% !important;
}

.grade-input-edit-page .comment-input textarea {
  margin-top: 0px !important;
  line-height: 24px !important;
}

.create-archive-for-student-page,
.create-archive-for-teacher-page {
  .v-stepper {
    padding-top: 56px;
  }

  .v-card__title {
    padding-top: 16px !important;
  }

  .v-stepper__header {
    height: 56px !important;
    position: fixed;
    width: 100%;
    z-index: 20;
    top: 48px;
    background-color: white;
  }

  .v-stepper__content {
    padding: 0px !important;
  }

  .v-stepper__step {
    height: 56px !important;
  }

  .v-stepper__wrapper {
    .v-card {
      margin: 8px !important;
      margin-top: 16px !important;
      box-sizing: border-box !important;
      margin-bottom: 32px !important;
    }

    .v-card.work-experience {
      margin: 0px !important;
      box-sizing: border-box !important;
    }
  }

  .guardian-resource textarea {
    margin-top: 0px !important;
    line-height: 24px !important;
  }

  .kindergarten-name textarea {
    margin-top: 0px !important;
    line-height: 24px !important;
  }

  .app-textarea textarea {
    margin-top: 0px !important;
    line-height: 24px !important;
  }
}

// // override textarea border style
// .theme--light.v-text-field--outline > .v-input__control > .v-input__slot {
//   border: 1px solid rgba(0, 0, 0, 0.54);
//   border-top-color: rgba(0, 0, 0, 0.54);
//   border-top-style: solid;
//   border-top-width: 1px;
//   border-right-color: rgba(0, 0, 0, 0.54);
//   border-right-style: solid;
//   border-right-width: 1px;
//   border-bottom-color: rgba(0, 0, 0, 0.54);
//   border-bottom-style: solid;
//   border-bottom-width: 1px;
//   border-left-color: rgba(0, 0, 0, 0.54);
//   border-left-style: solid;
//   border-left-width: 1px;
//   border-image-source: initial;
//   border-image-slice: initial;
//   border-image-width: initial;
//   border-image-outset: initial;
//   border-image-repeat: initial;
// }
