.v-item-group.v-bottom-nav .v-btn--active .v-btn__content {
  font-size: 12px !important;
}

table.v-table td {
  height: unset !important;
  padding: 12px 12px !important;
}

table.v-table tbody td:first-child {
  height: unset !important;
  padding: 12px 12px !important;
}

.v-carousel__controls {
  background: transparent;
  height: unset !important;
}

.v-item-group.v-bottom-nav .v-btn {
  padding-top: 6px !important;
}

.batch-switch.v-input--switch .v-input__slot {
  margin: 0px !important;
}

.batch-switch {
  display: flex;
  justify-content: center;
}

.grade-input-edit-batch-selection.v-input--selection-controls:not(.v-input--hide-details)
  .v-input__slot {
  margin-bottom: 6px !important;
}

.teacher-helper .v-btn--floating .v-btn__content {
  flex: 1 1 auto !important;
  margin: 0 !important;
  height: 100% !important;
  width: 100% !important;
}

.grade-input-edit-page .comment-input textarea {
  margin-top: 0px !important;
}
